.checkout-container{
  max-width:650px;
  margin:auto;
  padding:20px;
  color:#fff;
  background:#111;
  min-height:100vh;
}

.checkout-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.checkout-card{
  background:#1C1C1C;
  padding:16px;
  border-radius:12px;
  margin-bottom:16px;
}

.cart-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#2A2A2A;
  padding:15px;
  border-radius:12px;
  margin-bottom:12px;
}

.price{
  color:#E50914;
  font-weight:bold;
}

.qty-control{
  display:flex;
  align-items:center;
  gap:10px;
}

.qty-control button{
  width:30px;
  height:30px;
  border:none;
  background:#E50914;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.delete-btn{
  background:none;
  color:#ff4444;
  font-size:18px;
}

.input-row{
  display:flex;
  gap:10px;
}

.input-row input{
  flex:1;
  padding:8px;
  border-radius:6px;
  border:none;
}

.input-row button{
  padding:8px 14px;
  background:#E50914;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

.checkout-summary{
  background:#1C1C1C;
  padding:16px;
  border-radius:12px;
  margin-top:20px;
}

.summary-row{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

.discount{
  color:#4CAF50;
}

.total{
  font-size:18px;
  font-weight:bold;
}

.payment-options{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.payment-btn{
  flex:1;
  padding:12px;
  background:#2A2A2A;
  border:none;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

.payment-btn.active{
  background:#FFF4E5;
  color:#000;
}

.checkout-btn{
  width:100%;
  padding:16px;
  margin-top:20px;
  background:#E50914;
  border:none;
  color:white;
  font-size:16px;
  border-radius:12px;
  cursor:pointer;
}

.btn-primary{
  margin-top:10px;
  padding:8px 14px;
  background:#E50914;
  border:none;
  color:white;
  border-radius:6px;
  cursor:pointer;
}